@model FarmMis.ViewModel.PacklistVm

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
        </div>
    </div>

    <div class="row">
        <!--Basic Form starts-->
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <form asp-action="Packlist">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h5 class="card-header-text">Packlist</h5>
                            </div>

                            <div class="col-xs-12 col-sm-1">
                                <label>Date:</label>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <input asp-for="Date" id="dispach_date" class="form-control" type="date">
                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Synch</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-block">
                    <form asp-action="SysSetup">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col-lg-6">
                                <label class="form-control-label">Product</label>
                                <input class="form-control item-display" id="product" type="text" readonly>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">Box Qty</label>
                                <input class="form-control item-display" id="box_qty" type="text" readonly>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">Scan Qty</label>
                                <input class="form-control item-display" id="scan_qty" type="text" readonly>
                            </div>
                        </div><hr />
                        
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                                <label class="form-control-label">Customer</label>
                                <select id="customers" class="form-control js-example-basic-single" asp-items="@ViewBag.customers" required>
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                                <label class="form-control-label">Branch</label>
                                <select id="customer_branch" class="form-control js-example-basic-single"></select>
                            </div>
                        </div><hr />

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                                <label class="form-control-label">Barcode</label>
                                <input id="barcode" class="form-control" type="text" autofocus>
                            </div>
                        </div>

                        @* <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col-lg-4">
                                <a class="btn btn-primary waves-effect waves-light" asp-action="NewUserGroup" role="button">Synch</a>
                            </div>
                        </div> *@
                    </form>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> Product </th>
                                        <th> Box Quantity </th>
                                        <th> Scanned Quantity </th>
                                        <th> Barcode</th>
                                    </tr>
                                </thead>

                                <tbody id="packlist">
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            let orderedProducts = new Array();
            $('#barcode').val('');
            $('#customer_branch').prop('disabled', true);
            getOrderedProducts();
            $('#dispach_date').on('change', function () {
                getOrderedProducts();
            });

            $('#customer_branch').on('change', function () {
                getOrderedProducts();
            });

            $('#customers').on('change', function () {
                $('#barcode').focus();
                $('#customer_branch').empty();
                $.ajax({
                    type: 'GET',
                    url: "getCustomerBranches?customerId=" + this.value,
                    contentType: 'application/json',
                    success: function (response) {
                        response = response ? response : [];
                        $('#customer_branch').prop('disabled', false);

                        for (var index = 0; index <= response.length; index++) {
                            $('#customer_branch').append('<option value="' + response[index].vegId + '">' + response[index].name + '</option>');
                        }
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#customers').on('change', function () {
                getOrderedProducts();
            });

            $('#barcode').on('keyup', function (event) {
                if (event.which === 13) {
                    let client = {
                        barcode: this.value,
                        clientId: $("#customers").val(),
                        branchId: $("#customer_branch").val(),
                        date: $("#dispach_date").val(),
                    };

                    if (!client.clientId) {
                        alert("Sorry, Kindly select the client");
                        $("#barcode").val('');
                        return
                    }

                    $.ajax({
                        type: 'POST',
                        url: "getCustomerProduct",
                        contentType: 'application/json',
                        data: JSON.stringify(client),
                        success: function (response) {
                            response.line = response.line ? response.line : {};
                            response.product = response.product ? response.product : {};
                            $("#barcode").val('');
                            $("#product").val(response.product.name);
                            $("#box_qty").val(response.line.boxQty);
                            $("#scan_qty").val(response.line.scanQty);
                            getOrderedProducts();
                        },
                        failure: function (response) {
                            $("#barcode").val('');
                        }
                    }).then(function () {
                        // ...
                    });
                }
            });

            function getOrderedProducts() {
                let client = {
                    clientId: $("#customers").val() ? $("#customers").val() : null,
                    branchId: $("#customer_branch").val(),
                    date: $("#dispach_date").val(),
                };
                $.ajax({
                    type: 'POST',
                    url: "getOrderedProducts",
                    contentType: 'application/json',
                    data: JSON.stringify(client),
                    success: function (response) {
                        orderedProducts = response.orderedProducts ? response.orderedProducts : [];
                        $("#barcode").val('');
                        populateOrdersTable();
                    },
                    failure: function (response) {
                        $("#barcode").val('');
                    }
                }).then(function () {
                    // ...
                });
            }

            function populateOrdersTable() {
                let itemTableRows = new Array();
                let count = 0;
                orderedProducts.forEach(j => {
                    count++;
                    itemTableRows.push(`<tr>
                                            <td>${count}</td>
                                            <td>${j.product}</td>
                                            <td>${j.boxQty}</td>
                                            <td>${j.scanQty}</td>
                                            <td>${j.barcode}</td>
                                        </tr>`);
                });

                $('#packlist').html(itemTableRows);
            }
        });
    </script>
}