@model AAAErp.Models.Site

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
        </div>
    </div>

    <div class="row">
        <!--Basic Form starts-->
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Site</h5>
                </div>

                <div class="card-block">
                    <form asp-action="NewSite">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">Site <span class="required">*</span></label>
                                <input asp-for="Name" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">MySql Server <span class="required">*</span></label>
                                <input asp-for="IngressServer" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">MySql UserName <span class="required">*</span></label>
                                <input asp-for="IngressUserName" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">MySql Password <span class="required">*</span></label>
                                <input asp-for="IngressPassword" class="form-control" type="password" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">Ingress Db <span class="required">*</span></label>
                                <input asp-for="IngressDb" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">Ingress Db At Ho <span class="required">*</span></label>
                                <input asp-for="HoIngressDb" class="form-control" type="text" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-lg-3">
                                <label class="form-control-label">Contact</label>
                                <input asp-for="Contact" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="row">
                            <div class="checkbox checkbox-primary">
                                <div class="col-sm-12">
                                    <input type="checkbox" asp-for="Closed">
                                    <label asp-for="Closed" class="m-b-10"></label>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.hasEditRight)
                        {
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                        }
                        <a class="btn btn-default waves-effect" asp-action="ListSites" role="button">Back</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>